.container {
    min-width: 300px;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
.container {
    max-width: 800px;
    margin-left: 20px;
    margin-right: 20px;
}}

@media screen and (min-width: 900px) {
.container {
    max-width: 1000px;
    margin-left: 40px;
    margin-right: 40px;
}}

h1 { font-size: 160%; }

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 40px;
    margin-bottom: 40px;
    flex: 1 0 auto;
}

.sticky-footer {
    margin-top: auto;
    flex-shrink: 0;
}

div.input-bar {
    margin-bottom: 2em;
}

ul.spelling {
    margin: 0;
    padding: 0;
    list-style: none;
}

.letter {
    display: flex;
    margin-bottom: 0.4em;
}

.letter__initial {
    width: 180px;
    height: 180px;
    border: 1px solid black;
    vertical-align: bottom;
}

.letter__initial img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* .letter__initial-text {
    position: absolute;
    bottom: 0;
    left: 0.2em;
    font-size: x-large;
    color: red;
} */

.letter__line {
    margin-left: 0.5em;
    display: flex;
    align-items: flex-end;
}

.letter__line-word {
    font-weight: bold;
}